@font-face {
    font-family:'HussarBold';
    src: url(HussarBoldWeb.otf);
}

/* Past Executive Board */

body{
    background-color: #fdf8eb; /*BIT COLORS*/
}
#past-board-group-pic-one {
    width: 80%;
    object-fit: cover;
    z-index: -1;
    margin: 5% 10% 5% 10%;
}
/*ANIMATION FOR CARDS-----------------------------------*/
/*.card{
    opacity: 0;
    transition: all 1.5s;
}

.show{
    opacity: 1;
}

/*THIS PART ARE ELEMENTS THAT AFFECT THE MORE THAN ONE ELEMENT OF THE SITE----------------------------------------------------------------*/
.exec-person-pic {
    width: 200px;
    height: 230px;
    display: block;
    object-fit: cover;
    margin: 30px auto;
    border-radius: 50%;
    cursor: pointer;
}

#board-group-pic {
    width: 80%;
    border-radius: 5px; /*if error try vh or vw */
    object-fit: cover;
    z-index: -1;
    margin: 5% 10% 5% 10%;
}

h4 { /*INCASE THERE AN ERROR WITH LABELS, H4 & H5 IS USED IN EVERY CARD */
    font-size: 20px;
    margin: 20px 0px 10px;
    padding-top: 5px;
    color: #fbac43;
    text-align: center;
}

h5 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #a0a0a0;
    padding-bottom: 5px;
    text-align: center;
    /*text-shadow: 2px 2px 2px rgb(228, 228, 228); */
}

.box img{
    transition: transform 0.5s ease;
}

.box img:hover{
    transform: scale(1.1)
}

/*may change this font*/
.exec-title {
    font-family:'HussarBold';

    /*text-shadow: 5px 5px 5px rgb(197, 197, 197);*/
}

.labelarea{
    background-color: white;
    border-radius: 10px;
}

.groupimg{
    /* this is only useful for groupimg*/
    min-height: 100vh;
}
.groupimg h1 {
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 3%;
    /*color: #7c7c7c; <---------original color*/
    color: rgb(42, 42, 42);
    padding-bottom: 60px;
    text-align: center;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: 0.5s;
}

.flex-container { /*THIS IS THE CONTAINER FOR PRESIDENTS------------------------------------------------------------------------------*/
    /*width:20px; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    /*position: relative; */
    min-height: 1px;
    padding: 20px;
    background-color: #8698a2;
    border-radius: 25px;
}

.representatives-and-dev{ /*section for President, Vice, and director of operations*/
    min-height: 50vh;
    padding: 1px 15px; /* 1px 0px means right on the edge*/
    height:auto;
    padding: 35px;
}

.representatives-and-dev .card{
    background-color: #5b9cc5;
    padding: 10px 10px;
    border-radius: 25px;
}


.representatives-and-dev .card .box{
    background-color: #1e5475;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 500vw;
    border-radius: 25px;
    
}

.representatives-and-dev h2 {
    font-size: 50px;
    padding-top: 75px;
    padding-bottom: 25px;
    color: #7c7c7c;
    text-align: center;
    opacity: 0;
    animation: fadeUp .5s forwards; /*animation will change */
    animation-delay: 0.5s;
}


.flex-containerleft{ /*THIS IS THE CONTAINER FOR EVENT COMMITTEE -------------------------------------------------------------------------*/
    /*width:20px; */
    /*flex-wrap: wrap; <---------------------------------maybe, ask
    /*position: left; <----Real ones use float ;) */
    background-color: #8698a2;
    border-radius: 25px;
    display: flex;
    padding: 20px;
    flex-wrap: nowrap; 
    justify-content: space-around;
    width:100%;
}
.EventsCommittee{
    float: left;
    min-height: 50vh;
    height:auto;
    padding: 35px;
    width: 50%;
}

.EventsCommittee .card{
    background-color: #5b9cc5;
    padding: 10px 10px;
    border-radius: 25px;
    /*margin-top: 35px; <--------to fix the margin top issue, javascript should help*/
    margin-top: 10px;
}

.EventsCommittee .box{
    background-color: #1e5475;
    padding: 10px;
    padding-left: 20px; /*if too small it used to be 50px*/
    padding-right: 20px;
    max-width: 500vw;
    border-radius: 25px;
}

.EventsCommittee h2{
    text-align:center;
    font-size: 50px;
    padding-top: 75px;
    padding-bottom: 25px;
    color: #7c7c7c;
    opacity: 0;
    animation: fadeUp .5s forwards; /*animation will change */
    animation-delay: 0.5s;
}

.flex-containerright{ /*THIS IS THE CONTAINER FOR MARKETING COMMITTEE -------------------------------------------------------------------------*/
    background-color: #8698a2;
    border-radius: 25px;
    display: flex;
    padding: 20px;
    flex-wrap: nowrap; 
    justify-content: space-around;
    width:100%;
    /*flex-wrap: wrap; <---------you need to ask */
}

.Marketing{
    min-height: 50vh;
    height:auto;
    padding: 35px;
    width: 50%;
}


.Marketing .card{
    background-color: #5b9cc5;
    padding: 10px 10px;
    border-radius: 25px;
    margin-top: 10px;
}

.Marketing .box{
    background-color: #1e5475;
    padding: 10px;
    padding-left: 20px; /*if too small it used to be 50px*/
    padding-right: 20px;
    max-width: 500vw;
    border-radius: 25px;
}

.Marketing h2{
    text-align:center;
    font-size: 50px;
    padding-top: 75px;
    padding-bottom: 25px;
    color: #7c7c7c;
    opacity: 0;
    animation: fadeUp .5s forwards; /*animation will change */
    animation-delay: 0.5s;
}


.flex-containerdiff{/*WEBDEV CONTAINERRRRRRRR-----------------------------------------------------------------------------------------*/
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    margin: auto;
    /*position: relative; */
    min-height: 1px;
    padding: 20px;
    background-color: #8698a2;
    border-radius: 25px;
}








@media(max-width: 991px) {
    .team .card {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:550px) {
    .team .card {
        width: 65vw;
        margin-left: 15vw;
    }
}


/* The Modal (background) */
/*THIS IS THE GOOOD SHITTTTTTT, DONT TOUCH UNLESS ITS AUNAMOUS */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    overflow: scroll;
    text-align: center;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    /* Modal Content (image) */
    .modal-content {
        position: absolute;
        top: 15%;
        left: 10vw;
        width: 30%;
        height: 70%;
        object-fit: cover;
        max-width: 700px;
    }
    /* Caption of Modal Image */
    .caption {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 40vw;
        max-width: 700px;
        font-size: 2rem;
        text-align: center;
        color: #ccc;
        line-height: 3rem;
    }
    .caption h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
        padding-bottom: 60px;
        text-align: center;
        line-height: 50px;
    }
    .caption h2 {
        font-size: 30px;
        font-weight: 700;
        color: white;
        padding-bottom: 60px;
        text-align: center;
    }
    /* Add Animation */
    .modal-content,
    .caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        position: relative;
        align-self: center;
        width: 60%;
    }
    .caption {
        align-self: center;
        padding: 0 10% 10% 10%;
        font-size: 1.5rem;
        line-height: 2rem;
        overflow: scroll;
    }
    .caption h1 {
        font-size: 30px;
        font-weight: 700;
        color: white;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .caption h2 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 5%;
    }
}

.desktop {
    height: 90vh;
}

@media all and (min-width: 768px) {
    .desktop {display:block;}
    .phone {display:none;}
}

@media all and (max-width: 767px) {
    .desktop {display:none;}
    .phone {display:block;}
}
